<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.app.dao.CostsMapper">

    <resultMap id="BaseResultMap" type="com.hao.app.pojo.CostsDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="enter_date" jdbcType="DATE" property="enterDate"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="projects" jdbcType="INTEGER" property="projects"/>
        <result column="projects_name" jdbcType="VARCHAR" property="projectsName"/>
        <result column="type_1" jdbcType="INTEGER" property="type1"/>
        <result column="type_2" jdbcType="INTEGER" property="type2"/>
        <result column="type_3" jdbcType="INTEGER" property="type3"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="numb" jdbcType="VARCHAR" property="numb"/>
        <result column="useful" jdbcType="VARCHAR" property="useful"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creater" jdbcType="VARCHAR" property="creater"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="TableResultMap" type="com.hao.app.commons.entity.result.AmountTable">
        <result column="projects" jdbcType="INTEGER" property="projects"/>
        <result column="type_3" jdbcType="INTEGER" property="type3"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, enter_date, status,
        projects, projects_name,
        type_1,type_2,type_3,
        amount,numb,useful,
        remark, creater, create_time,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from costs
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from costs
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="updateStatus">
        update costs
        set status=1
        where id=#{id}
    </update>


    <insert id="insert" parameterType="com.hao.app.pojo.CostsDO">
        insert into costs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enterDate != null">
                enter_date,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="projects != null">
                projects,
            </if>
            <if test="projectsName != null">
                projects_name,
            </if>
            <if test="type1 != null">
                type_1,
            </if>
            <if test="type2 != null">
                type_2,
            </if>
            <if test="type3 != null">
                type_3,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="numb != null">
                numb,
            </if>
            <if test="useful != null">
                useful,
            </if>
            <if test="remark != null">
                remark,
            </if>

            <if test="creater != null">
                creater,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="enterDate != null">
                #{enterDate,jdbcType=DATE},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>

            <if test="projects != null">
                #{projects,jdbcType=INTEGER},
            </if>
            <if test="projectsName != null">
                #{projectsName,jdbcType=VARCHAR},
            </if>

            <if test="type1 != null">
                #{type1,jdbcType=INTEGER},
            </if>
            <if test="type2 != null">
                #{type2,jdbcType=INTEGER},
            </if>
            <if test="type3 != null">
                #{type3,jdbcType=INTEGER},
            </if>

            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="numb != null">
                #{numb,jdbcType=VARCHAR},
            </if>
            <if test="useful != null">
                #{useful,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.hao.app.pojo.CostsDO">
        update costs
        <set>
            <if test="enterDate != null">
                enter_date = #{enterDate,jdbcType=DATE},
            </if>

            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="projects != null">
                projects = #{projects,jdbcType=INTEGER},
            </if>
            <if test="projectsName != null">
                projects_name = #{projectsName,jdbcType=VARCHAR},
            </if>
            <if test="type1 != null">
                type_1 = #{type1,jdbcType=INTEGER},
            </if>
            <if test="type2 != null">
                type_2 = #{type2,jdbcType=INTEGER},
            </if>
            <if test="type3 != null">
                type_3 = #{type3,jdbcType=INTEGER},
            </if>

            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="numb != null">
                numb = #{numb,jdbcType=VARCHAR},
            </if>
            <if test="useful != null">
                useful = #{useful,jdbcType=VARCHAR},
            </if>

            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                creater = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="count" parameterType="com.hao.app.commons.entity.param.CostQueryParam"
            resultType="java.lang.Integer">
        select count(1)
        from costs
        <include refid="searchSQL"/>
    </select>

    <select id="search" parameterType="com.hao.app.commons.entity.param.CostQueryParam" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from costs
        <include refid="searchSQL"/>
        order by id desc
        limit ${pageStart},${pageLimit}
    </select>

    <sql id="searchSQL">
        <where>
            <if test="projectsId != null and projectsId > 0">
                and projects = ${projectsId}
            </if>
            <if test="type1 != null and type1 > 0">
                and type_1 = ${type1}
            </if>
            <if test="type2 != null and type2 > 0">
                and type_2 = ${type2}
            </if>
            <if test="type3 != null and type3 > 0">
                and type_3 = ${type3}
            </if>
            <if test="enterDateStart != null">
                <![CDATA[ and enter_date >= #{enterDateStart} ]]>
            </if>
            <if test="enterDateEnd != null">
                <![CDATA[ and enter_date <= #{enterDateEnd} ]]>
            </if>
        </where>
    </sql>

    <select id="searchCostTable" parameterType="com.hao.app.commons.entity.param.TableQueryParam"
            resultMap="TableResultMap">
        SELECT projects,type_3,sum(amount) as amount
        FROM costs
        WHERE 1
        <if test="projectsId != null and projectsId > 0">
            and projects = ${projectsId}
        </if>
        <if test="enterDateStart != null">
            <![CDATA[ and enter_date >= #{enterDateStart} ]]>
        </if>
        <if test="enterDateEnd != null">
            <![CDATA[ and enter_date <= #{enterDateEnd} ]]>
        </if>
        GROUP BY projects,type_3

    </select>

</mapper>
