<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.app.dao.EmployeeMapper">
    
    <resultMap id="BaseResultMap" type="com.hao.app.pojo.EmployeeDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="projects" jdbcType="INTEGER" property="projects"/>
        <result column="projects_name" jdbcType="VARCHAR" property="projectsName"/>
        <result column="job_type" jdbcType="INTEGER" property="jobType"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="ethnic" jdbcType="INTEGER" property="ethnic"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="birth_date" jdbcType="DATE" property="birthDate"/>
        <result column="entry_date" jdbcType="DATE" property="entryDate"/>
        <result column="leave_date" jdbcType="DATE" property="leaveDate"/>
        <result column="edu_type" jdbcType="INTEGER" property="eduType"/>
        <result column="hukou_type" jdbcType="INTEGER" property="hukouType"/>
        <result column="huji_address" jdbcType="VARCHAR" property="hujiAddress"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="emergency_contact" jdbcType="VARCHAR" property="emergencyContact"/>
        <result column="emergency_contact_phone" jdbcType="VARCHAR" property="emergencyContactPhone"/>
        <result column="safe_type" jdbcType="VARCHAR" property="safeType"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creater" jdbcType="VARCHAR" property="creater"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, status, name, phone, id_card, projects, projects_name, job_type, gender, ethnic, age, birth_date,
        entry_date, leave_date, edu_type, hukou_type, huji_address, address, emergency_contact,
        emergency_contact_phone, safe_type, remark, creater, create_time, update_time
    </sql>


    <select id="count" parameterType="com.hao.app.commons.entity.param.EmployeeQueryParam"
            resultType="java.lang.Integer">
        select count(1)
        from employee
        <include refid="searchSQL"/>
    </select>

    <select id="search" parameterType="com.hao.app.commons.entity.param.EmployeeQueryParam" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from employee
        <include refid="searchSQL"/>
        order by status, name
        limit ${pageStart},${pageLimit}
    </select>

    <sql id="searchSQL">
        <where>
            <if test="projectsId != null and projectsId > 0">
                and projects = ${projectsId}
            </if>
            <if test="status != null">
                and status = ${status}
            </if>

            <if test="name != null">
                and name like CONCAT('%',#{name},'%')
            </if>

            <if test="idCard != null">
                and id_card = #{idCard}
            </if>

            <if test="entryDateStart != null">
                <![CDATA[ and entry_date >= #{entryDateStart} ]]>
            </if>
            <if test="entryDateEnd != null">
                <![CDATA[ and entry_date <= #{entryDateEnd} ]]>
            </if>

            <if test="leaveDateStart != null">
                <![CDATA[ and leave_date >= #{leaveDateStart} ]]>
            </if>
            <if test="leaveDateEnd != null">
                <![CDATA[ and leave_date <= #{leaveDateEnd} ]]>
            </if>

            <if test="jobTypes != null">
                and job_type in
                <foreach collection="jobTypes" item="jts" index="index" open="(" close=")" separator=",">
                    #{jts}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from employee
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.hao.app.pojo.EmployeeDO">
        insert into employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null">
                status,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="projects != null">
                projects,
            </if>
            <if test="projectsName != null">
                projects_name,
            </if>
            <if test="jobType != null">
                job_type,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="ethnic != null">
                ethnic,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="birthDate != null">
                birth_date,
            </if>
            <if test="entryDate != null">
                entry_date,
            </if>
            <if test="leaveDate != null">
                leave_date,
            </if>
            <if test="eduType != null">
                edu_type,
            </if>
            <if test="hukouType != null">
                hukou_type,
            </if>
            <if test="hujiAddress != null">
                huji_address,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="emergencyContact != null">
                emergency_contact,
            </if>
            <if test="emergencyContactPhone != null">
                emergency_contact_phone,
            </if>
            <if test="safeType != null">
                safe_type,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="projects != null">
                #{projects,jdbcType=INTEGER},
            </if>
            <if test="projectsName != null">
                #{projectsName,jdbcType=VARCHAR},
            </if>
            <if test="jobType != null">
                #{jobType,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="ethnic != null">
                #{ethnic,jdbcType=INTEGER},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="birthDate != null">
                #{birthDate,jdbcType=DATE},
            </if>
            <if test="entryDate != null">
                #{entryDate,jdbcType=DATE},
            </if>
            <if test="leaveDate != null">
                #{leaveDate,jdbcType=DATE},
            </if>
            <if test="eduType != null">
                #{eduType,jdbcType=INTEGER},
            </if>
            <if test="hukouType != null">
                #{hukouType,jdbcType=INTEGER},
            </if>
            <if test="hujiAddress != null">
                #{hujiAddress,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="emergencyContact != null">
                #{emergencyContact,jdbcType=VARCHAR},
            </if>
            <if test="emergencyContactPhone != null">
                #{emergencyContactPhone,jdbcType=VARCHAR},
            </if>
            <if test="safeType != null">
                #{safeType,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <update id="update" parameterType="com.hao.app.pojo.EmployeeDO">
        update employee
        <set>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="projects != null">
                projects = #{projects,jdbcType=INTEGER},
            </if>
            <if test="projectsName != null">
                projects_name = #{projectsName,jdbcType=INTEGER},
            </if>
            <if test="jobType != null">
                job_type = #{jobType,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="ethnic != null">
                ethnic = #{ethnic,jdbcType=INTEGER},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="birthDate != null">
                birth_date = #{birthDate,jdbcType=DATE},
            </if>
            <if test="entryDate != null">
                entry_date = #{entryDate,jdbcType=DATE},
            </if>
            <if test="leaveDate != null">
                leave_date = #{leaveDate,jdbcType=DATE},
            </if>
            <if test="eduType != null">
                edu_type = #{eduType,jdbcType=INTEGER},
            </if>
            <if test="hukouType != null">
                hukou_type = #{hukouType,jdbcType=INTEGER},
            </if>
            <if test="hujiAddress != null">
                huji_address = #{hujiAddress,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="emergencyContact != null">
                emergency_contact = #{emergencyContact,jdbcType=VARCHAR},
            </if>
            <if test="emergencyContactPhone != null">
                emergency_contact_phone = #{emergencyContactPhone,jdbcType=VARCHAR},
            </if>
            <if test="safeType != null">
                safe_type = #{safeType,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                creater = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
