<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.app.dao.FinanceMapper">
    
    <resultMap id="BaseResultMap" type="com.hao.app.pojo.FinanceDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="income_amount" jdbcType="DECIMAL" property="incomeAmount"/>
        <result column="payout_amount" jdbcType="DECIMAL" property="payoutAmount"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="month" jdbcType="INTEGER" property="month"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creater" jdbcType="VARCHAR" property="creater"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, income_amount, payout_amount, year, month, remark, creater, create_time, update_time
    </sql>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from finance
        where id = #{id,jdbcType=INTEGER}
    </select>
    
    <insert id="insert" parameterType="com.hao.app.pojo.FinanceDO">
        insert into finance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="incomeAmount != null">
                income_amount,
            </if>
            <if test="payoutAmount != null">
                payout_amount,
            </if>
            <if test="year != null">
                year,
            </if>
            <if test="month != null">
                month,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="incomeAmount != null">
                #{incomeAmount,jdbcType=DECIMAL},
            </if>
            <if test="payoutAmount != null">
                #{payoutAmount,jdbcType=DECIMAL},
            </if>
            <if test="year != null">
                #{year,jdbcType=INTEGER},
            </if>
            <if test="month != null">
                #{month,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <update id="update" parameterType="com.hao.app.pojo.FinanceDO">
        update finance
        <set>
            <if test="incomeAmount != null">
                income_amount = #{incomeAmount,jdbcType=DECIMAL},
            </if>
            <if test="payoutAmount != null">
                payout_amount = #{payoutAmount,jdbcType=DECIMAL},
            </if>
            <if test="year != null">
                year = #{year,jdbcType=INTEGER},
            </if>
            <if test="month != null">
                month = #{month,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                creater = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
</mapper>
