<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hao.app.dao.ProductPartsMapper" >

  <resultMap id="BaseResultMap" type="com.hao.app.pojo.ProductParts" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contract_no" property="contractNo" jdbcType="VARCHAR" />
    <result column="pro_no" property="proNo" jdbcType="VARCHAR" />
    <result column="parts_no" property="partsNo" jdbcType="VARCHAR" />
    <result column="parts_name" property="partsName" jdbcType="VARCHAR" />
    <result column="parts_fmt" property="partsFmt" jdbcType="VARCHAR" />
    <result column="parts_img" property="partsImg" jdbcType="VARCHAR" />
    <result column="units" property="units" jdbcType="VARCHAR" />
    <result column="hetong_num" property="hetongNum" jdbcType="DOUBLE" />
    <result column="kucun_num" property="kucunNum" jdbcType="DOUBLE" />
    <result column="buy_num" property="buyNum" jdbcType="DOUBLE" />
    <result column="is_receive" property="isReceive" jdbcType="INTEGER" />
    <result column="is_sendout" property="isSendout" jdbcType="INTEGER" />
    <result column="receive_num" property="receiveNum" jdbcType="DOUBLE" />
    <result column="sendout_num" property="sendoutNum" jdbcType="DOUBLE" />
    <result column="sk_sumkg" property="skSumkg" jdbcType="DOUBLE" />
    <result column="sk_hszb" property="skHszb" jdbcType="DOUBLE" />
    <result column="sk_hskg" property="skHskg" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, contract_no, pro_no, parts_no, parts_name, parts_fmt, parts_img, units, hetong_num, 
    kucun_num, buy_num, is_receive, is_sendout, receive_num, sendout_num, sk_sumkg, sk_hszb, 
    sk_hskg, remark, user_name, create_time, update_time
  </sql>

  <insert id="insert" parameterType="com.hao.app.pojo.ProductParts" >
    insert into tb_product_parts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contractNo != null" >
        contract_no,
      </if>
      <if test="proNo != null" >
        pro_no,
      </if>
      <if test="partsNo != null" >
        parts_no,
      </if>
      <if test="partsName != null" >
        parts_name,
      </if>
      <if test="partsFmt != null" >
        parts_fmt,
      </if>
      <if test="partsImg != null" >
        parts_img,
      </if>
      <if test="units != null" >
        units,
      </if>
      <if test="hetongNum != null" >
        hetong_num,
      </if>
      <if test="kucunNum != null" >
        kucun_num,
      </if>
      <if test="buyNum != null" >
        buy_num,
      </if>
      <if test="isReceive != null" >
        is_receive,
      </if>
      <if test="isSendout != null" >
        is_sendout,
      </if>
      <if test="receiveNum != null" >
        receive_num,
      </if>
      <if test="sendoutNum != null" >
        sendout_num,
      </if>
      <if test="skSumkg != null" >
        sk_sumkg,
      </if>
      <if test="skHszb != null" >
        sk_hszb,
      </if>
      <if test="skHskg != null" >
        sk_hskg,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contractNo != null" >
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="proNo != null" >
        #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="partsNo != null" >
        #{partsNo,jdbcType=VARCHAR},
      </if>
      <if test="partsName != null" >
        #{partsName,jdbcType=VARCHAR},
      </if>
      <if test="partsFmt != null" >
        #{partsFmt,jdbcType=VARCHAR},
      </if>
      <if test="partsImg != null" >
        #{partsImg,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        #{units,jdbcType=VARCHAR},
      </if>
      <if test="hetongNum != null" >
        #{hetongNum,jdbcType=DOUBLE},
      </if>
      <if test="kucunNum != null" >
        #{kucunNum,jdbcType=DOUBLE},
      </if>
      <if test="buyNum != null" >
        #{buyNum,jdbcType=DOUBLE},
      </if>
      <if test="isReceive != null" >
        #{isReceive,jdbcType=INTEGER},
      </if>
      <if test="isSendout != null" >
        #{isSendout,jdbcType=INTEGER},
      </if>
      <if test="receiveNum != null" >
        #{receiveNum,jdbcType=DOUBLE},
      </if>
      <if test="sendoutNum != null" >
        #{sendoutNum,jdbcType=DOUBLE},
      </if>
      <if test="skSumkg != null" >
        #{skSumkg,jdbcType=DOUBLE},
      </if>
      <if test="skHszb != null" >
        #{skHszb,jdbcType=DOUBLE},
      </if>
      <if test="skHskg != null" >
        #{skHskg,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

</mapper>