<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.app.dao.SysPrivilegeMapper">
  
  <resultMap id="BaseResultMap" type="com.hao.app.pojo.SysPrivilege">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menuId" jdbcType="INTEGER" property="menu_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
 
  <select id="queryAllPrivilege" resultMap="BaseResultMap">
    select id, menu_id, name, url from sys_privilege
  </select>
  
  <select id="queryPrivilegeByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select p.id, p.menu_id, p.name, p.url
    from sys_role_privilege rp
    left join sys_privilege p on p.id = rp.privilege_id
    where rp.role_id = ${roleId} 
    order by p.id
  </select>
  
  <select id="queryPrivilegeURLByRoleId" parameterType="java.lang.Integer" resultType="java.lang.String">
    select p.url
    from sys_role_privilege rp
    left join sys_privilege p on p.id = rp.privilege_id
    where rp.role_id = ${roleId} 
  </select>
  
  <select id="queryPrivilegeByMenuId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, menu_id, name, url 
    from sys_privilege
    where menu_id = ${menuId} 
  </select>
  
  <delete id="deleteRolePrivilegeByMenuId" parameterType="java.lang.Integer">
  	DELETE FROM sys_role_privilege WHERE privilege_id IN (SELECT id FROM  sys_privilege WHERE menu_id = ${menuId})
  </delete>
  
  <delete id="deletePrivilegeByMenuId" parameterType="java.lang.Integer">
  	delete from sys_privilege where menu_id = ${menuId} 
  </delete>
  

  
</mapper>